.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9BD1AB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2A5656;
}

.blog-post {
  padding: 40px;
}

p.rtl {
  direction: rtl;
}

div > img {
  border-radius: 10px;
  width: 40%;
  height: 40%;
}
a, a:visited {
  text-decoration: none;
  color: #065774;
}

a.active .btn {
  background-color:#2A5656;
  border:#065774;
}

/* a:hover {
  cursor: pointer;
  opacity: 0.7;
} */

.btn {
  transition-duration: 0.2s;
  background-color: #FF9B6A; 
  color: #FFEF99;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px;
  margin: 6px;
  min-width: 125px;
  max-width: 125px;
  min-height: 50px;
  max-height: 50px;
  font-size: 140%;
  
}

.btn.form-btn {
  margin: 40px;
  
}

.btn:hover {
  color: #FF9B6A; 
  background-color: #FFEF99;
  cursor: pointer;
  box-shadow: 1px 2px;
}


.App-link {
  color: #065774;
}

.input-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input, .input:focus {
  border: none;
  color:#065774;
  background-color:#FFF4B8;
  box-shadow: 1px 2px;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

label {
  padding: 20px;
}

.single-post {
  background-color:#E1F1E6;
  box-shadow: 1px 1px;
  border-radius: 8px;
  padding: 2px;
  margin: 20px;
  min-width: 200px;
  max-width:400px; 
}


.blog-img {
  min-width: 100px;
  max-width:160px; 
  border: 1px solid #FFEF99;
  margin-bottom: 20px;
  
}

.iframe-box {
  border: 1px solid #FFEF99;
  border-radius: 8px;

}

@keyframes App-logo-spin {
  from {
    transform:rotateY(0deg);
  }
  to {
    transform: rotateY(60deg);
  }
}
