.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9BD1AB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2A5656;
  z-index: 1;
}

.particles {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.nav-grid, .footer, .admin-form, .input-form {
  z-index: 1;
  position: relative;
}

.about-pg {
  max-width: 700px;
}

.blog-grid {
  z-index: 1;
}
.blog-post {
  position: relative;
  padding: 40px;
  z-index: 1;
}

p.rtl {
  direction: rtl;
  text-align: start;
}

div > img {
  border-radius: 10px;
  width: 40%;
  height: 40%;
}
a, a:visited {
  text-decoration: none;
  color: #065774;
}

a.active .btn {
  background-color:#2A5656;
  border:#065774;
}

/* a:hover {
  cursor: pointer;
  opacity: 0.7;
} */

.btn {
  transition-duration: 0.2s;
  background-color: #FF9B6A; 
  color: #FFEF99;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px;
  margin: 6px;
  min-width: 164px;
  max-width: 164px;
  min-height: 50px;
  max-height: 50px;
  font-size: 120%;
  
}

.btn.form-btn {
  margin: 60px;
  /* padding: 10px */
  min-width: 80px;
  
}

.btn:hover {
  color: #FF9B6A; 
  background-color: #FFEF99;
  cursor: pointer;
  box-shadow: 1px 2px;
}

i:hover {
  opacity: 0.6;
}


.App-link {
  color: #065774;
}

.admin-form {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-top: 20px;
}
.input-form {
  margin-top: 40px;
  margin-bottom: 40px;
}

.input, .input:focus {
  border: none;
  color:#065774;
  background-color:#FFF4B8;
  box-shadow: 1px 2px;
  border-radius: 8px;
  padding: 2px;
  margin: 2px;
}

label {
  padding: 20px;
}
label input, label textarea {
  min-height: 40px;
  max-height: 100px;
  max-width: 300px;
  text-align: center;
}

.single-post {
  background-color:#E1F1E6;
  box-shadow: 1px 1px;
  border-radius: 8px;
  padding: 2px;
  margin: 20px;
  min-height: 500px;
  max-height: 500px;
  min-width: 250px;
  max-width:450px; 
  /* border: 1px solid #FFEF99; */
  border-radius: 8px;
}

.single-post-view {
  background-color:#E1F1E6;
  box-shadow: 1px 1px;
  border-radius: 8px;
  padding: 2px;
  margin: 20px;
  min-height: 80%;
  max-height: 80%;
  min-width: 80%;
  /* max-width:80%;  */
  max-width: 700px;
  /* border: 1px solid #FFEF99; */
  border-radius: 8px;
  position: relative;
  padding: 20px;
  z-index: 1;
}

.rtl.single-post-content {
  /* letter-spacing: 1px; */
  word-spacing: 1px;
  line-height: 30px;
  /* word-break: keep-all; */
  font-size: 16px;
  padding-bottom: 30px;
  padding-left: 16px;
  padding-right: 16px;
}


.blog-img {
  min-width: 100px;
  max-width:160px; 
  border: 1px solid #FFEF99;
  margin-bottom: 20px;
  
}

.iframe-box {
  border: 1px solid #FFEF99;
  border-radius: 8px;
  width: 560px;
  height: 315px;
  z-index: 1;
  position: relative;

}
.iframe-box-mini {
  border: 1px solid #FFEF99;
  border-radius: 8px;
  z-index: 1;
  position: relative;
  /* width: 560px;
  height: 315px; */

}

@keyframes App-logo-spin {
  from {
    transform:rotateY(0deg);
  }
  to {
    transform: rotateY(60deg);
  }
}
@media (max-width: 800px) {
  .nav-grid {
    display: grid;
    grid-template-columns: repeat(2,2fr);
  }
  .iframe-box {
    width: 280px;
    height: 158px;
  }
 .particles {
   display: none;
 }

 .about-pg {
  max-width: 300px;
}
}

@media (min-width: 1000px) {
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
  .blog-grid-one-post {
    display: grid;
    grid-template-columns: repeat(1,1fr);

  }
}